/* -------- MAKE LIGHT & DARK MODE FOR THIS PROJECT --------- */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 230px 3fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  background: radial-gradient(#212124, #0f0f11);
}

/* ----- HEADER ----- */
header{
  background-color: #0e0e0f;
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 230px 3fr;
  padding: 5px;
}

.header-logo-side {
  grid-column: 1/2;
  color: #f0f0f0;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
}

.redpages {
  color: rgb(235, 35, 35);
}

.header-search-side {
  grid-column: 2/3;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-bar {
  margin-left: 30px;
  flex: 0 1 500px;
  border: 1px solid #e1e1e1;
  color: #3f4246c0;
  letter-spacing: 1px;
  border-radius: 20px;
  height: 25px;
  padding-left: 20px;
}

.search-bar:focus {
  outline: none;
}


/* ------ SIDEBAR ------- */

.sidebar {
  /* border: 2px solid greenyellow; */
  background-color: transparent;
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
}

.sidebar .button-container {
  height: 30px;
  position: relative;
}

.log-arrow {
  position: absolute;
  content: url('/images/arrow-white.png');
  rotate: -45deg;
  margin-left: 5px;
  bottom: 4px;
  height: 14px;
  transition: 1s;
}

.log-arrow-active{
  transition: 1s;
  margin-left: 50px;
  rotate: 45deg;
}

.log-button {
  background-color: transparent;
  color: #d4d4d8;
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0px;
  padding: 12px;
  padding-right: 0;
}

/* two form container styles that interact with js to appear on click */
.form-container-folded {
  height: 0px;
  overflow: hidden;
  transition: .5s;
}

.form-unfolded {
  transition:  .8s ease-in;
  padding: 15px 0px;
  height: 310px;
}

.form{
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out; 
}

/* property to transition back to so it doesnt "snap" back to no padding */
.form div {
  padding: 0;
  transition: .5s;
  display: flex;
}

/* only activate properties once form is unfolded */
.form-unfolded .form div {
  transition: 1s ease-in-out;
  padding: 20px 0;
}

.inputBlock input{
  flex: 1;
  border: 1px solid #52525b9a;
  border-radius: 10px;
  padding-left: 10px;
  height: 20px;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  color: #9ca3afaa;
  transition: .2s;
}

.inputBlock input:focus {
  outline: 1.5px solid #e1e1e1;
  transition: .2s;
}

/* read switch */
.inputBlock .switch {
  color: #5e5e68d9;
  font-weight: 400;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

#readStatus {
  margin-left: 60px;
}

#readStatus:focus {
  outline: none;
}

/* Add book button */

.submitButton {
  padding: 3px 15px;
  border: none;
  border-radius: 8px;
  background-color: #ae1919;
  cursor: pointer;
  color: rgba(12, 12, 12, 0.817);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.submitButton:hover {
  background-color: #c42b2b;
}

.submitButton:active {
  background-color: #a60808;
}

/* ------ MAIN ------ */

main {
  background-color: transparent;
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 1000px;
}

.table-container {
  flex: 0;
  color: #d4d4d8;
  display: flex;
}

.table-container table {
 flex: 1; 
 border-collapse: collapse;
}

.table-container table thead {
  border-bottom: 2px solid #424242dc;
  border-radius: 50px;
  font-size: 13px;
}

/* align header */
tr th {
  text-align: left;
  padding-bottom: 3px;
}

/* align entries */
tr td {
  padding: 10px 0;
  padding-right: 30px;
  font-size: 14px;
  color: #9ca3afaa;
}

.table-container table tbody tr{
  border-bottom: 1px solid rgb(86, 86, 86);
}

.readStatus:hover {
  color: #d5d9e0aa;
  cursor: pointer;
}

.removeButton {
  content: url('/images/trash-white.png');
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.removeButton:hover {
  cursor: pointer;
  transition: .3s;
  transform: scale(1.2);
}